@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

body {
    height: 100vh;
    background: #141e30;
    background-image: radial-gradient(#581c87 0px, transparent 2px);
    background-size: 5px 5px;
}
